 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  overflow-x: hidden;
}


.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}


.navbar {
  width: 80%;
  max-width: 900px;
  background: rgba(39, 31, 65, 0.3);
  border-radius: 50px;
  margin: 20px auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 20px rgb(128, 0, 128);
  transition: transform 0.5s;
}

.navbar:hover {
  transform: translateY(8px);
}

.navbar h2 {
  color: rgb(255, 149, 149);
  font-family: "Space Mono", monospace;
  letter-spacing: 10px;
  text-shadow: 2px 2px 20px rgb(128, 0, 128);
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
  text-shadow: 4px 4px 20px rgb(92, 47, 255);
  transition: color 0.3s;
}

.navbar a:hover {
  color: rgb(23, 0, 233);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.me-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
}

.card {
  background: rgba(1, 3, 8, 0.7);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 2px 2px 15px blueviolet;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 15px blue;
  color: lightblue;
}

.card button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background: rgba(92, 47, 255, 0.9);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: rgb(23, 0, 233);
  transform: scale(1.5);
}

footer {
  text-align: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px purple ;
  border-radius: 20px;
  font-size: 0.9em;
  transition-duration: 0.9s;
}


footer:hover{
    transform: translatey(2px);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .navbar ul {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar li {
    margin-bottom: 10px;
  }

  .me-container {
    grid-template-columns: 1fr;
  }

  section {
    height: auto;
    padding: 40px 0;
  }
}

@media (max-width: 480px) {
  .navbar h2 {
    font-size: 1.2em;
    letter-spacing: 6px;
  }

  .card {
    padding: 15px;
  }

  .card button {
    width: 100%;
  }
}
